.header{
    background-color:rgb(253, 174, 5);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;  

}
.vertical-bar{
    background: white;
    width: 1px;
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;

}
.navbar{
    margin: 0;
    padding:0;
}
.card{
    background-color: transparent;
    border-width: 0px;
} 