body{
    overflow-y: scroll;
    margin-top: 0px;
}
.carousel-inner img {
    width: 100vw;  
    height: 400px; 
    object-fit: cover; 
    object-position: center; 
}
.container-fluid{
    margin: 0;
    padding: 0;
}

.button{
    width: 200px;
    height: 100px;
    font-size: 40px;
    border-radius: 20px;
    border-width: 3px;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Spazio tra i bottoni */
    margin-top: 20px;
  }

  .btn1{
    height: 250px;
    width: 200px;
  }