<div class="d-flex flex-wrap justify-content-around">
    <div *ngFor="let prodotto of prodotti" class="card book">
        <!--<a routerLink="isbn/{{libro.isbn}}">-->
            <img class="card-img-top" [src]= "'assets/'+prodotto.Immagine" alt="Card image cap">
    
        <div class="card-body">
            <h4 class="card-title">{{prodotto.Descrizione}}</h4>
            <h5 class="card-title">{{prodotto.Prezzo}}</h5>
            <p class="card-text">{{prodotto.Categoria}}</p>
            <!--<p *ngIf="libro.newBook ==true" class="text-end text-danger">Novità</p> 
            <p class="text-end text-danger" [class.d-none] = " !libro.newBook ">Novità</p>-->
            
        </div>
    </div>
</div>
